<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="fizzbuzz">
            <directory>./FizzBuzz/tests</directory>
        </testsuite>
        <testsuite name="greeter">
            <directory>./Greeter/tests</directory>
        </testsuite>
        <testsuite name="stringcalculator">
            <directory>./StringCalculator/tests</directory>
        </testsuite>
        <testsuite name="primefactors">
            <directory>./PrimeFactors/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>